@import "tailwindcss";

:root {
  --background: #F9FAFB;
  --foreground: #171717;
}


@layer components {
  .restrict {
    @apply flex flex-col gap-16 px-5 sm:px-[30px] lg:px-[57px];
  }

  .escape {
    @apply -mx-5 sm:-mx-[30px] lg:-mx-[57px] ;
  }
}

@theme inline{
  --font-rockSalt : var(--font-rock-salt);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientShift 10s ease-in-out infinite alternate;
}


.hero{
  background-image: 
  linear-gradient(
    to right,
    /* #fff 0px,
      #fff 2px, */
      /* Space until next line */
      transparent 0px,
      transparent calc(25% - 1px),

      /* Line 2: 25% position */
      #fff calc(25% - 1px),
      #fff calc(25% + 1px),
      transparent calc(25% + 1px),
      transparent calc(50% - 1px),

      /* Line 3: 50% position */
      #fff calc(50% - 1px),
      #fff calc(50% + 1px),
      transparent calc(50% + 1px),
      transparent calc(75% - 1px),

      /* Line 4: 75% position */
      #fff calc(75% - 1px),
      #fff calc(75% + 1px),
      transparent calc(75% + 1px),
      transparent calc(100% ),

      /* Line 5: Right edge */
      #fff calc(100% - 2px),
      #fff 100%
  ),
  linear-gradient(
    to bottom,
    /* #fff 0px,
      #fff 2px, */
      /* Space until next line */
      transparent 0px,
      transparent calc(25% - 1px),

      /* Line 2: 25% position */
      #fff calc(25% - 1px),
      #fff calc(25% + 1px),
      transparent calc(25% + 1px),
      transparent calc(50% - 1px),

      /* Line 3: 50% position */
      #fff calc(50% - 1px),
      #fff calc(50% + 1px),
      transparent calc(50% + 1px),
      transparent calc(75% - 1px),

      /* Line 4: 75% position */
      #fff calc(75% - 1px),
      #fff calc(75% + 1px),
      transparent calc(75% + 1px),
      transparent calc(100%),

      /* Line 5: Right edge */
      #fff calc(100% - 2px),
      #fff 100%
  )
  /* linear-gradient(
    90deg,
    #ffffff .1rem,
    transparent .1rem);
    background-size: 14rem 10rem; */
}